/** ********** Colors ********* **/
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

/** ***** Default styles ****** **/
/** Style: solo modules **/
#window,
#mode {
	border-radius: 12px;
	margin: 4px 0px;
	padding: 2px 10px;
}
/** Style: group x-start modules **/
#cpu,
#pulseaudio {
	background-color: @mantle;
	border-radius: 12px 0 0 12px;
	margin: 4px 0px;
	padding: 2px 10px;
}

/** Style: group x-center modules **/
#backlight, 
#battery,
#memory,
#clock,
#custom-depr,
#custom-user,
#network {
	background-color: @mantle;
	margin: 4px 0px;
	padding: 2px 10px;
}

/** Style: group x-end modules **/
#disk,
#custom-arch
{
	background-color: @mantle;
	border-radius: 0 12px 12px 0;
	margin: 4px 0px;
	padding: 2px 10px;
}

/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: rgba(0, 0, 0, 0.541);
	color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty {
}
window#waybar.solo {
}
window#waybar.thunar {
}
window#waybar.geany {
}

/** ********** Backlight ********** **/
#backlight {
	color: #ed8796;
}

/** ********** Battery ********** **/
#battery {
	color: #eed49f;
}

#battery.charging {
	background-color: #43676f;
	color: #FFFFFF;
}

#battery.plugged {
	background-color: #91d7e3;
	color: #FFFFFF;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #ed8796;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	color: #a6da95;
}

/** ********** Sway ********** **/
#workspaces {
	background-color: @mantle;
	color: @text;
	border-radius: 0px 12px 0px 0px;
	padding: 4px;
}

#workspaces button {
	color: @text;
	padding: 2px 6px;
}

#workspaces button:hover {
	background-color: #5B6078;
	color: #CAD3F5;
	border: 0px solid #5B6078;
	border-radius: 12px;
	padding: 2px 6px;
}

#workspaces button.visible {
	background-image: linear-gradient(to right, #62AEEF , #98C379);
}

#workspaces button.focused {
	background-image: linear-gradient(to right, #c6a0f6 , #c6a0f6);
}

#workspaces button.urgent {
	background-image: linear-gradient(to right, #E06B74 , #E5C07A);
}

#workspaces button.persistent {
	background-image: linear-gradient(to right, #E5C07A , #C778DD);
}

#workspaces button.visible,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.persistent {
	color: #181926;
	border-radius: 12px;
	padding: 2px 6px;
}

#workspaces button.current_output {
}

#workspaces button#sway-workspace-1 {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#mode {
	background-color: #C778DD;
    font-weight: bold;
}

#window {
	background-color: #1E2030;
	color: #CAD3F5;
}
window#waybar.empty #window {
	background-color: transparent;
}

/** ********** Tray ********** **/
#tray {
	background-color: @mantle;
	border-radius: 12px 0px 0px 0px;
	padding: 4px 6px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** CPU, DISK, MEMORY ********** **/

#cpu {
	background-image: linear-gradient(to right, #62AEEF , #C778DD);
	color: #1B1F28;
}

#cpu.high {
    /* background-image: linear-gradient(to right, #E5625E, #C778DD); */
	color: #ffffff;
	background-image: none;
	background-color: #ef233c;
}

#cpu.medium {
    /* background-image: linear-gradient(to right, #F0B262, #C778DD); */
    color: #FFA630;
}

#memory {
    background-image: linear-gradient(to right, #C778DD, #FFE74C);
    color: #1B1F28;
}

#disk {
    background-image: linear-gradient(to right, #FFE74C, #397367);
    color: #1B1F28;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	color: #f5bde6;
}

#pulseaudio.bluetooth {
	background-image: linear-gradient(to right, #98C379 , #FB5607);
}
#pulseaudio.muted {
    color: #ffffff;
	background-image: none;
	background-color: #ed8796;
}

/** ********** Network ********** **/
#network {
	color: #f5a97f;
}

#network.disconnected {
	background-color: #f5a97f;
	color: #ffffff;
}
#network.disabled {
	background-color: #f5a97f;
	color: #FFFFFF;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}


#custom-depr {
	color: #91d7e3;
}

#custom-user {
	color: #8aadf4;
}

#custom-arch {
	color: #b7bdf8;
}
